*{
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%; /* Full width of the viewport */
    height: 95vh; /* Full height of the container's parent element */
}
.img{
    max-height: 400px;
}
h2{
    font-family:'Courier New', Courier, monospace;
}

.log{
    display: flex;
    justify-content: center;
}

.btn1{
    
    background-color: rgb(84, 148, 243);
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid rgb(84, 148, 243);
    border-radius: 8px;

}
.btn2{
    background-color: rgb(84, 148, 243);
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid rgb(84, 148, 243);
    border-radius: 8px;

}
.form{
    display: flex;
    justify-content: center;
}